<plugin name='scaffold-tags' version='0.7.3' grailsVersion='1.1.1 &gt; *'>
  <author>Daiji Takamori</author>
  <authorEmail>dt_02138@yahoo.com</authorEmail>
  <title>Adds tags to support fully-customizable &amp; dynamic scaffolding</title>
  <description>
This provides a new set of scaffolding templates as well as a 
supporting tags that simply creating and modifying views through
additional coding conventions, even as domain classes are modified.

The tag library makes it possible to apply inheritance, reuse,
and dynamic generation to how views of domain objects are generated.
Skin support makes it possible to transition between multiple views 
of the application.
</description>
  <documentation>http://grails.org/ScaffoldTags+Plugin</documentation>
  <resources>
    <resource>ScaffoldTagLib</resource>
    <resource>InvokeTagLib</resource>
  </resources>
  <dependencies />
</plugin>